.checkBox {
  position: absolute;
  bottom: 75%;
  padding-top: 0.5vh;
  padding-left: 0.5vw;
}

.select {
  background-color: #f1f5fa;
  border: 1px solid #90d8ff;
  border-radius: 5px;
}

.item {
}

:global(.ant-card-body) {
  padding: 10px;
}

.tableItemAction {
  margin: 3px;
}

.tableItemMouseEnter {
}

.tableItemMouseEnter > td > div {
  display: unset;
}

.noDisplay {
  display: none;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.actionButton {
  margin-right: 10px;
}

.actionSearch {
  background: #f1f2f4 !important;
  border-radius: 33px !important;
}

.actionSearch > input {
  background: #f1f2f4 !important;
}

.uploaderList {
  position: fixed;
  top: 12%;
  left: 14%;
  z-index: 999;
  width: 60%;
  height: 60%;
  overflow: hidden;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);
  background-color: white;
  border-radius: 0.3em;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.fileViewMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
}

.fileViewMask::-webkit-scrollbar { /* 滚动条整体样式 */
  width: 10px; /* 高宽分别对应横竖滚动条的尺寸 */
  height: 1px;
}

.fileViewMask::-webkit-scrollbar-thumb { /* 滚动条里面小方块 */
  background: #535353;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.fileViewMask::-webkit-scrollbar-track { /* 滚动条里面轨道 */
  background: #ededed;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.fileView {
  height: 100%;
  text-align: center;
  vertical-align: center;
}

:global(.pg-viewer-wrapper) {
  overflow-y: unset !important;
}

:global(.photo) {
  width: 100vw;
  height: 100vh;
}

:global(#docx) {
  display: flex;
  align-items: center;
}
