.checkBox {
  padding-left: 0.5vw;
  padding-top: 0.5vh;
  position: absolute;
  bottom: 75%;
}

.select {
  background-color: #f1f5fa;
  border: 1px solid #90d8ff;
  border-radius: 5px;
}

.item {
}

:global(.ant-card-body) {
  padding: 10px;
}

.tableItemAction {
  margin: 3px;
}

.tableItemMouseEnter {
}

.tableItemMouseEnter > td > div {
  display: unset;
}

.noDisplay {
  display: none;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.actionButton {
  margin-right: 10px;
}

.actionSearch {
  border-radius: 33px !important;
  background: #f1f2f4 !important;
}

.actionSearch > input {
  background: #f1f2f4 !important;
}

.uploaderList {
  z-index: 999;
  position: fixed;
  left: 14%;
  top: 12%;
  width: 60%;
  height: 60%;
  background-color: white;
  overflow: hidden;
  border-radius: .3em;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);
}

.fileViewMask {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
}
.fileViewMask::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

.fileViewMask::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}

.fileViewMask::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #EDEDED;
}

.fileView {
  height: 100%;
  text-align: center;
  vertical-align: center;
}

:global(.pg-viewer-wrapper) {
  overflow-y: unset!important;
}
:global(.photo) {
  height: 100vh;
  width: 100vw;
}

:global(#docx) {
  display: flex;
  align-items: center;
}
