.icon {
  width: 104px;
  height: 104px;
}

.nickname {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  text-rendering: optimizeLegibility;
}

.slogan {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
}

.detailInfo {
  position: relative;
  padding-top: 3vh;
  padding-left: 0.5vw;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

.detailInfoText {
  padding-left: 1vw;
}

.userApprove {
  font-size: xx-large;
  text-align: center;
  user-select: none;
}

.userApproveTitle {
  margin-bottom: 0;
  font-size: small;
}

.todoList {

}

.todoListFinished {

}

.todoItem {
  user-select: none;
}

.todoFinishedItem {

}

.todoFinishedItem::before {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  content: '';
  background-color: black;
}

.feedItemCard {
  margin-bottom: 1vh;
  user-select: none;
}
